@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* { /*Устанавливает нулевые отступы по умолчанию*/
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

.header{ /*Стиль для серой полосы заголовка*/
    width: 100%;
    height: 34px;
    background: #6B6B6B;
}

.name{ /*Стиль для текста OnlineCMP*/
    display: inline-block;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: white;
    margin-top: 5px;
    margin-left: 96px;
}

.grid-container { 
    display: grid;
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: 60% 24%;
    column-gap: 2%;
    grid-template-rows: auto auto;
}

.center { /*Класс для масштабирования div с осн. кнопками и полями ввода|вывода*/
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    height: auto;
    margin: 0 auto;
}

.UNIX-block { /*Класс для содержания Use tests и вывода тестов*/
   width: 100%;
   grid-column: 2;
   grid-row: 1;
   height: auto;
} 

.hide {
   display: none;
}

.checkbox {
   width: 100%;
   height: 57px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
}

.UNIX-output { /*Столбец для вывода тестовых кейсов*/
   border-style: solid;
   background-color: silver;
   width: 96%;
   height: 77vh;
   padding: 3px;
   overflow-y: auto;
}

.unix-output-block {
   border-style: solid;
   padding: 4px;
   font-family: 'Inconsolata', monospace;
}

.top_buttons { /* Отделения для кнопок и меню выбора языка*/
    overflow: hidden;
    padding-bottom: 25px;
    position: relative;
}

.lang_selector { /*Стиль для блока с выбором языка*/
    font-family: 'Courier New', Courier, monospace;
    float: right;
    margin-top: 10px;
}

.lang_header { /*Стиль для Language около списка*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.dropping_selector { /*Стиль для выпадающего меню с языками*/
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border: 1px solid #000;
}

.control_buttons { /*Стиль для блока с кнопками*/
    float: left;
    margin-top : 10px;
    display: flex;
}

button { /*Стиль для кнопок запуска и прикрепления файла*/
    background-color: gray;
    display: flex;
    width: 18px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.attach_button {
    margin-left: 15px;
}

.file_name { /*Стиль для поля названия файла*/
    overflow-x: auto;
    width: auto;
    max-width: 70%;
    height: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    box-sizing: border-box;
    background: #1e1e1e;
    font-size: 16px;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
}

#input_text_area + .CodeMirror { /* Задает стиль для поля ввода*/
    height: 50vh; /*Устанавливает высоту в половину от высоты страницы*/
    margin-bottom: 3vh;
}

.output_area { /*Стиль для поля вывода*/
    width: 100%;
    resize: none;
    height: 25vh;
    background: #1e1e1e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #ccc;
    padding: 15px;
    box-sizing: border-box;
}
